@media (max-width:1040px) {
    .search_box {
        width: 40vw;
    }
}
@media (max-width:1015px) {
    main {
        flex-direction: column;        
    }
    iframe {
        max-width: 100%;
        width: 100%;
    }
    aside {
        width: 100%;
    }    
}
@media (max-width:840px) {
    .good_buttons > button:nth-child(4) {display: none;}
    .search_box {
        width: 30vw;
    }
    .search_box > input {
        width: 100px;
    }
}
@media (max-width:730px) {
    .good_buttons > button:nth-child(3) {display: none;}
    .search_box {
        width: 20vw;
    }
}
@media (max-width:655px) {
    .search_box {
        border: none;
        width: 20px;
    }
    .search_box > input {
        display: none;
    }
}
@media (max-width:585px) {
    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .good_buttons > button:nth-child(3),
    .good_buttons > button:nth-child(4) {
        display: block;
    }
}
@media (max-width:490px) {
    .bell,
    .profile {
        display: none;
    }
    
}