
@font-face {
    font-family: "LeagueGothic";
    src: url(./LeagueGothic-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
header {
    display: flex;    
    width: 100%;   
    justify-content: space-between;
    align-items: center;    
    padding: 8px 20px;   
    position: fixed;
    top: 0; 
    left: 0;
    background-color: #fff;
    z-index: 99;   
}
.header_left {
    display: flex;
    /* margin: 4px 30px; */
    align-items: center;
}
.logo {
    display: flex;
    padding: 12px;
    gap: 4px;
    align-items: center;
}
.logo > h1 {
    font-family: 'LeagueGothic';
    font-weight: 400;    
    font-size: 28px;
    transform: scaleX(110%);
}
.logo > h2 {
    font-size: 8px;
    transform: translateY(-10px);
}
main {    
    display: flex;
}
main > section {
    margin-top: 50px;
}
.youtube_logo > img {
    height: 25px;
    width: 35px;   
}

.header_middle,
.search {
    display: flex;
}
.header_middle > button {
    background-color: #f1f1f1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.search_box {
    width: 40vh;
    border: 1px solid#7e7e7e;
    padding: 10px 0;
    border-radius: 24px; 
    margin: 0;   
    position: relative;
}

input {
    background: none;
    border: none;
    width: 550px;
    height: 20px;
    outline: none;
    font-size: 16px;
    transform: translateX(16px);  
}
.search_box > input {
    width: 200px;
}
.search_box > i {
    position: absolute;
    ;right: 20px
}
.header_right {
    margin-right: 60px;
}
.header_right,
.header_right > button {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 16px;
}
.header_right > button {
    background: #f1f1f1;
    padding: 10px 12px;
    border-radius: 28px;
    gap: 8px;
}
.profile > img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

main {
    width: 100%;
    justify-content: center;    
    gap: 20px;
    margin-top: 40px;
}
iframe {
    border-radius: 20px;
    /* width: 1200px; */
}
.title {
    padding: 16px 0;
}

.title > h2 {
    font-size: 20px;
    font-weight: 700;
}

.subscribe,
.channel,
.good_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;    
}
.text_box {
    padding: 10px 0;
}
.text_box > h2 {
    font-weight: 600;
    font-size: 16px;
}
.text_box > p {
    font-size: 12px;
    padding-top: 4px;
    color: #838282;
}
.subscribe {
    margin-top: 12px;
}
.channel > figure > img {
    width: 40px;
    height: 40px;
}
.channel > button {
    background-color: #000;
    color: white;
    padding: 10px 16px;
    border-radius: 32px;
}
.good_buttons > button {
    background-color: #f1f1f1;
    padding: 10px 10px;
    border-radius: 32px;
}
.good_buttons > div {
    background-color: #f1f1f1;
    padding: 6px 10px;
    border-radius: 32px;
}
.good_buttons > button:nth-child(4) {
    padding: 14px;
}
.good_buttons > button:nth-child(5) {
    padding: 12px 8px;
}
.good_buttons  span {
    font-size: 14px;
    font-weight: 500;
}
.good_buttons > div > button:nth-child(2) > span {
    font-size: 20px;
}
.description {
    padding: 14px 14px 0 14px;
    background-color: #f1f1f1;
    border-radius: 16px;
    margin-top: 16px;
}
.description > div {
    display: flex;
    gap: 8px;
    align-items: end;
}
.description > div > p {
    font-weight: 500;
    font-size: 14px;
}
.description > div > span {
    color: #838282;
    font-size: 12px;
}
.description > p {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 430;
    line-height: 18px;
    color: #343434;
}
.description > button {
    font-weight: 600;
    padding: 12px 0;
}
.comment_input_area {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 20px;
}
.comment_input_area > h2 {
    font-size: 20px;
    font-weight: 600;
}
.comment_input_area > a {
    align-items: center;    
}
.comment_input_area > a > span {
    font-size: 14px;
}
.comment_box > div > input {
    border-bottom: 1px solid#cac9c9;
    width: 90%;
    padding: 20px 0px;
    transform: translateX(40px);
}

.comments {
    display: flex;
    gap: 16px;
    font-size: 14px;
    line-height: 20px;
}
.comments > div > div > p > a {
    color: rgb(34, 98, 247);
    font-weight: 450;
}
.comments > div > div > button {
    color: #343434;
    padding: 0 0 8px 0;
}
.comment_profile > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.comments {
    margin: 20px;   
}
.comments > div > div > figure >img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.comments > div > div > span {    
    font-size: 12px;
}
.comments > div > div > span:nth-child(2) {
    color: #838282;
}
.comments > div > div > p {
    padding: 4px 0;
    font-size: 13px;
    font-weight: 400;
}
.comment_write {
    display: flex;
    padding: 10px 10px 10px 0;
    gap: 8px;
    margin: 0;    
}
.comment_write > button > i,
.comment_write > button > p
 {
    color: rgb(34, 97, 223);
}
aside {
    margin-top: 40px;
}
.aside_buttons {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.aside_buttons > button {
    background: #f1f1f1;
    padding: 4px 12px;
    border-radius: 8px;
    margin: 4px;
}
.playlist_box {
    width: 400px;   
}
.playlist_box > a {
    display: flex;
    gap: 8px;
    margin: 12px;
}
.playlist_box > a > figure > img {
    height: 100px;
    width: 160px;
    border-radius: 8px;    
}
.playlist_box > a > figure {
    transform: translateY(4px);
}
.playlist_text {
    height: 90px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 8px 0;
    gap: 4px;
}
.playlist_text > h2 {
    font-size: 14px;
    line-height: 20px;
    width: 200px;
}
.playlist_text > p,
.playlist_text > div > span {
    font-size: 12px;
    color: #444444;
    gap: 12px;
}